/* @import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
    width: 400px;
    height: 400px;
    display: block;
    background-color: aqua;
} */
